<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Loginservlet</servlet-name>
        <servlet-class>bank.Loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Netbank</servlet-name>
        <servlet-class>bank.Netbank</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Newuser</servlet-name>
        <servlet-class>bank.Newuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>bank.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtp</servlet-name>
        <servlet-class>bank.ValidateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>bank.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>netbankdebit</servlet-name>
        <servlet-class>bank.netbankdebit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Netbankotpvalidate</servlet-name>
        <servlet-class>bank.Netbankotpvalidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Netdebittransfer</servlet-name>
        <servlet-class>bank.Netdebittransfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendemailpay</servlet-name>
        <servlet-class>bank.sendemailpay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cryptocreate</servlet-name>
        <servlet-class>bank.Cryptocreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cryptologin</servlet-name>
        <servlet-class>bank.Cryptologin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mine</servlet-name>
        <servlet-class>bank.mine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>netacc</servlet-name>
        <servlet-class>bank.netacc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>balance</servlet-name>
        <servlet-class>bank.balance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>estatement</servlet-name>
        <servlet-class>bank.estatement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transfercrypto</servlet-name>
        <servlet-class>bank.transfercrypto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cryptoconfirm</servlet-name>
        <servlet-class>bank.cryptoconfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>complaintredirect</servlet-name>
        <servlet-class>bank.complaintredirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customercomplaint</servlet-name>
        <servlet-class>bank.customercomplaint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>bank.feedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Loginservlet</servlet-name>
        <url-pattern>/Loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Netbank</servlet-name>
        <url-pattern>/Netbank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Newuser</servlet-name>
        <url-pattern>/Newuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtp</servlet-name>
        <url-pattern>/ValidateOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/NewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>netbankdebit</servlet-name>
        <url-pattern>/netbankdebit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Netbankotpvalidate</servlet-name>
        <url-pattern>/Netbankotpvalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Netdebittransfer</servlet-name>
        <url-pattern>/Netdebittransfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendemailpay</servlet-name>
        <url-pattern>/sendemailpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cryptocreate</servlet-name>
        <url-pattern>/Cryptocreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cryptologin</servlet-name>
        <url-pattern>/Cryptologin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mine</servlet-name>
        <url-pattern>/mine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>netacc</servlet-name>
        <url-pattern>/netacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>balance</servlet-name>
        <url-pattern>/balance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>estatement</servlet-name>
        <url-pattern>/estatement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transfercrypto</servlet-name>
        <url-pattern>/transfercrypto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cryptoconfirm</servlet-name>
        <url-pattern>/cryptoconfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>complaintredirect</servlet-name>
        <url-pattern>/complaintredirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customercomplaint</servlet-name>
        <url-pattern>/customercomplaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
